@charset "EUC-KR";


.cardrow{
	display:flex;
	flex-wrap : wrap;
	justify-content : center;
	


	
}

.div_tag {
	width:300px;
	height:550px;
	border-radius : 10px;
	background-color: black;
	margin-left: 50px;
	margin-bottom: 50px;
	overflow:hidden;
	position:relative;


	
	
}



.show {
	display: flex;
}

